@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #111827; /* Tailwind gray-900 */
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
}

@layer utilities {
  .animate-bounce-short {
    animation: bounce 1s ease-in-out 3; /* Plays for 3 seconds */
  }
}

@keyframes scroll {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); } /* Moves halfway because the list is doubled */
}

.animate-infinite-scroll {
  animation: scroll 40s linear infinite !important;
}

@keyframes pop-in {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  80% {
    transform: scale(1.1); /* The overshoot */
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-pop {
  animation: pop-in 0.5s cubic-bezier(0.26, 0.53, 0.74, 1.48) forwards;
}